services:

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

  integrahub-api:
    build: ./integrahub-api
    container_name: integrahub-api
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - postgres
      - rabbitmq

  order-service:
    build: ./order-service
    container_name: order-service
    restart: always
    ports:
      - "8082:8080"
    depends_on:
      - postgres
  
  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    restart: always
    depends_on:
      - rabbitmq

  payment-service:
    build: ./payment-service
    container_name: payment-service
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_HOST=rabbitmq


volumes:
  postgres_data:
