services:

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

  integrahub-api:
    build: ./integrahub-api
    container_name: integrahub-api
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - postgres
      - rabbitmq

  order-service:
    build: ./order-service
    container_name: order-service
    restart: always
    ports:
      - "8082:8080"
    depends_on:
      - postgres
      - rabbitmq
  
  order-listener:
    build: ./order-service
    container_name: order-listener
    restart: always
    depends_on:
      - postgres
      - rabbitmq
    command: ["python", "-u", "main_consumer.py"]
  
  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    restart: always
    depends_on:
      - rabbitmq
      - postgres

  payment-service:
    build: ./payment-service
    container_name: payment-service
    restart: always
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_HOST=rabbitmq

  notification-service:
    build: ./notification-service
    container_name: notification-service
    restart: always
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_HOST=rabbitmq

  file-ingestor:
    build: ./file-ingestor
    container_name: file-ingestor
    restart: always
    depends_on:
      - postgres
    volumes:
      - ./inbox:/app/inbox
      - ./processed:/app/processed
      - ./error:/app/error

  analytics-service:
    build: ./analytics-service
    container_name: analytics-service
    restart: always
    ports:
      - "8083:8080"
    depends_on:
      - postgres
      - rabbitmq

  demo-portal:
    build: ./demo-portal
    container_name: demo-portal
    restart: always
    ports:
      - "3000:80"


volumes:
  postgres_data:
